.prod-top-form {
    padding-right: 2em;
}

.prod-top-form input {
    border-radius: 5px;
}

.button-div {
    display: flex;
    height: 3.5em;
    padding: 5%;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.button-div > input {
    width: 50%;
    margin-left: 5%;
    border-radius: 5px;
    text-align: right;
}

