<div class="homeContainer">

    <topnav></topnav>

    <div class="main-container">

      <div class="card-container-home">
        <div class="card-home">
          <img src="../../../assets/img/product-list.jpg" class="homeImg">
          <div class="card-body">
            <h3>Cátalogo</h3>
            <hr>
            <a [routerLink]="['/product-list']" class="button">Ver más</a>
          </div>
        </div>

        <div class="card-home">
          <img src="../../../assets/img/shopping-car.jpg" class="homeImg">
          <div class="card-body" style="padding-bottom: 10%;">
            <h3>Carrito</h3>
            <hr>
            <a [routerLink]="['/shopping-car']" class="button">Ver más</a>
          </div>
        </div>
      </div>

    </div>

</div>