.container-fluid {
    /* background-color: white; */
    border-radius: 15px;
  }
  
  h2 {
    color: white;
    font-size: 2.5rem;
  }
  
  .form-group {
    margin-bottom: 3%;
  }
  
  .form-group>label {
    font-size: 1.3rem;
    color: white;
  }